<% layout("/layouts/boilerplate") %>
<style>
    .options{
        margin-right: 0.75rem;
    }
</style>


    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br>
    <!-- Heading -->
    <h2>Create a New Listing</h2>
    <br>

    <!-- New Listing Form -->
    <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">

        <!-- Title  -->
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="Enter your title" id="title" class="form-control" required>
        <div class="invalid-feedback">Tilte is required</div>
        </div>

        <!-- Descrption -->
        <div class="mb-3"> 
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter description here" id="description" class="form-control" required></textarea>
       <div class="invalid-feedback">Description is required</div>
        </div>
        
        <!-- Upload Image -->
        <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="listing[image]" class="form-control" id="image" required>
        </div>

        <!-- Price -->
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="listing[price]" placeholder="Enter price" id="price" class="form-control" required>
        <div class="invalid-feedback">Price is required</div>
        </div>

        <!-- Location -->
        <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" placeholder="Enter the loaction of the place" id="location" class="form-control" required>
        <div class="invalid-feedback">Location is required</div>
        </div>
        </div>

        <!-- Country -->
        <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" placeholder="Enter country" id="country" class="form-control" required>
        <div class="invalid-feedback">Country is required</div>
        </div>

        <!-- Categories -->
         <div class="mb3">
            <p>Add Categories for your listing</p>

            <input type="checkbox" name="listing[categories]" id="Trending" value="Trending" >
            <label for="Trending" class="options">Trending</label>
            
            <input type="checkbox" name="listing[categories]" id="Rooms" value="Rooms">
            <label for="Rooms" class="options">Rooms</label>
            
            <input type="checkbox" name="listing[categories]" id="Iconic" value="Iconic">
            <label for="Iconic" class="options">Iconic Place</label>
            
            <input type="checkbox" name="listing[categories]" id="Pools" value="Pools">
            <label for="Pools" class="options">Pools</label>
            
            <input type="checkbox" name="listing[categories]" id="Farms" value="Farms">
            <label for="Farms" class="options">Farms</label>
            
            <input type="checkbox" name="listing[categories]" id="Camping" value="Camping">
            <label for="Camping" class="options">Camping</label>

            <input type="checkbox" name="listing[categories]" id="Less Explored" value="Less Explored">
            <label for="Less Explored" class="options">Less Explored</label>

            <input type="checkbox" name="listing[categories]" id="Domes" value="Domes">
            <label for="Domes" class="options">Domes</label>

            <input type="checkbox" name="listing[categories]" id="Beach" value="Beach">
            <label for="Beach" class="options">Beach</label>

            <input type="checkbox" name="listing[categories]" id="Arctic" value="Arctic">
            <label for="Arctic" class="options">Arctic</label>

         </div>

        <!-- Add Button -->
        <br>
        <button class="btn add-btn mt-3">Add</button>
        <br><br>

    </form>
    </div>
    </div>